.zyHeader{
    background: #3e3a39;
}
.zyLogo{
    color: #fff;
    margin:0px;
    padding: 10px 0px;
    height:60px;
}
.zyLogo a{
    color: #fff;
    left: 60px;
    font-size:21px;
    line-height: 25px;
    position:absolute;
    top:15px;
}

.zyLogo img{
    padding-left: 15px;
    line-height: 25px;
    float:left;
}