.zyHeader{
    background: #ae4127;
    position: relative;
    height:200px;
    box-sizing: border-box;
    padding:20px 0;
    overflow:hidden;
}
.zyLogo{
    color: #fff;
    margin:0px;
    width:60px;
    height:60px;
    line-height: 20px;
    padding:20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.zyLogo img{
    width: 100%;
    
}
.zyTitle{
    font-size: 24px;
}
.zyTitle a{
    line-height: 60px;
    color: #fff;
    text-decoration: none;
}
.zySubTitle{
    font-size: 42px;
    color: rgba(255,255,255,0.6)
}