html{
    height: 100%;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑","Verdana","Arial";
    background: #eee;
    height: 100%;
}
a{
    text-decoration: none;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
label{
    color: #000;
}
label.error{
    display: block;
    color: red!important;
    font-size: 14px;
    margin-left: 104px;
}
label img{
    vertical-align: middle;
}
ul{
    margin: 0px;
    padding:0px;
}
li{
    list-style: none;
}
.zyPd10{
    padding: 10px;
}
.zyPd20{
    padding: 20px;
}
.zyMT20{
    margin-top: 12px!important;
}
.zyBd2{
    border: 2px solid #ccc;
}
.zyBgFFFFFF{
    background: #fff !important;
}
.zyHasLeftBorder{
    border-left:1px solid #ccc;
}
.zyHidden{
    display: none;
}
.zyMain{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left:250px;
}

.zyLeft{
    background:#3B444B !important;
}

.zyRight {
    border-left: 1px solid #ccc;
    background: #fff;
    min-height: 100%;
}
.zyRight.container{
    width:90%;
}
.zyLine{
    width:10px;
    height:1px;
    margin:0px auto;
    padding:0px;
    background-color:#ccc;
    overflow:hidden;
    display: inline-block;
}
.zyImgHeightFixed{
    height: 30px;
    width: auto;
}
.zyBlackout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    transition: all 0.4s ease-out;
    z-index: 99;
}
/************************************鎸夐挳缁�****************************/
.zyGroupButtons{
    text-align: center;
    margin: 10px;
    font-size: 0px;
}
.zyGroupButtons .zyGBItem{
    height: 32px;
    line-height: 32px;
    font-size:14px;
    width: 100px;
    color: #000000;
    border:1px solid #ccc;
    display: inline-block;
}
.zyGroupButtons .zyGBItem:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.zyGroupButtons .zyGBItem:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.zyGroupButtons .zyGBItem.zyGBItemActive{
    background: #eee;
    color: darkgrey;
}
/******************************棰滆壊鏍囩*****************************/
.zyColorItem{
    display: inline-block;
    margin:0px 5px;
}
.zyColorItem .zyColorShow{
    height: 30px;
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    border-radius: 20px;
    border:1px solid darkgray;
}
.zyColorItem .zyColorName{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
}
/************************************form*******************************/
.zyForm{
    padding: 20px 30px!important;
}
.zyForm >.row{
    border-bottom: 1px #eee solid;
    padding: 4px 0px 4px 100px;
    position: relative;
    
}
.zyForm .zyFormLabel{
    text-align: left;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 4px;
    margin-right: 30px;
    padding-left:20px;
}
.zyForm .zyTARLabel{
    width: 80px;
    text-align: left;
    vertical-align: top;
}
.zyForm .zyFormLabel.zyRequired{
}
.zyForm .zyFormLabel.zyRequired:before{
    content:"*";
    color:#ae4127;
    margin-right: 5px;
    line-height: 40px;
    height:40px;
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
}
.zyForm .zyFormLabelHasSub{
    height: 14px;
    line-height: 40px;
}
.zyForm .zyFormAllInlineCtrl{
    display: inline-block;
    line-height: 36px;
    height: 36px;
}
.zyForm .zyFormAllInlineCtrl label{
    line-height: 36px;
}
.zyForm .zyFormSubmitRow{
    padding-left: 80px;
}
.zyForm .zyFormHelp{
    font-size: 12px;
    color: #ccc;
    line-height: 40px;
    height: 40px;
}
.zyForm .zyTextarea{
    width: 70%;
}
.zyForm .zyFormChildCtrl{
    position: relative;
    float:left;
}
.zyForm .zyFormChildCtrl.thumbWrapper{
    padding:20px 0;
}
.zyForm .zyFormChildCtrl .thumbLabel{
    height:40px;
    z-index: 99;
    position: absolute;
    top:-13px;
}
.zyForm .zyFormChildCtrl .chip{
    height:36px;
    line-height: 36px;
}
.zyForm .zyFormChildCtrl .chip .close{
    line-height: 36px;
}
.zyForm .zyImageUpload{
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 5px;
}
.zyForm .zyImageUpload input[type='file']{
    opacity: 0;
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.zyForm .zyImageUpload img{
    display: block;
    width: 100%;
    height: auto;
}

/*************************************select****************************/
.zySelect{
    border: 1px solid #ccc;
    padding: 3px;
    background: #eee;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
.zySelect .zySShow{
    width: 50px;
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.zySelect .zySName{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.zySelect .zySSelect{
    cursor:pointer;
    width: 100px;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    font-size: 14px;
    padding: 0px;
    vertical-align: top;
}
.zySelect.zyNoSelect .zySShow,.zySelect.zyNoSelect .zySName{
    display: none;
}
.zySelect.zyNoSelect .zySSelect{
    width: 198px;
    cursor:pointer;
}
.zySelect .zySSelect:focus{
    outline: none;
}
/*******************************collaspe*********************/
.zyCollapseCtrl{
    margin-bottom: 100px;
    height: 0px;
    border: 1px solid #ddd;
    position: relative;
    background: #ccc;
}
.zyCollapseCtrl .zyCollapse{
    width:120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:#ccc solid 1px;
    position: absolute;
    bottom:-40px;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .3em;
    cursor: pointer;
}
.zyCollapseCtrl .zyCollapse:hover{
    background: #eee;
}
.zyCollapseCtrl .zyCollapse .material-icons{
    line-height: 40px;
    vertical-align: top;
}

/***************************************panel**************************/
.zyPanel{
    background: #fff;
}
.zyPanel .zyPanelTitle{
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
}
.zyPanel .zyPanelTitle .btn{
    margin: 0px 10px;
}
.zyPanel .zyPanelContent{
    padding-bottom: 50px;
}
.zyPanel .zyPanelContent .ztree{
    
}
.zyPanel .zyPanelContent .ztree *{
    font-family: sans-serif;
    font-size: 14px;
}
.zyPanel .zyPanelContent .ztree li{
    min-height: 32px;
    line-height: 32px;
}
.zyPanel .zyPanelContent .ztree li a{
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    height: 32px;
}
.zyPanel .zyPanelContent .ztree li span.button{
    vertical-align: middle;
}
.zyPanel .zyPanelContent .ztree li a.curSelectedNode {
    background-color: #ae4127;
    color: #fff;
    border: 1px #ae4127 solid;
    opacity: 0.8;
}
/********************************************澶嶅啓datatable****************************/
.dataTables_wrapper{
    position: relative;
}
table.dataTable{
    margin-top: 20px;
    width: 100%;
    border-bottom: #efefef solid 1px;
    margin-bottom: 60px;
}
table.dataTable thead {
    background: #eee;
}
table.dataTable thead th{
    color: #333;
    border: none;
    padding: 5px;
    text-align: center;
    line-height: 30px!important;
}
table.dataTable tr{
    line-height: 25px!important;
    border-top: #efefef solid 1px;
}
table.dataTable tr.odd{
    background:#fff;
}
table.dataTable tr.even{
    background:#fff;
}
table.dataTable td {
    padding: 5px!important;
    text-align: center;
}
table.dataTable td a{
    color: #ae4127;
}



table.dataTable td .zyColorItem .zyColorShow{
    width: 20px;
    height: 20px;
}
table.dataTable .zyWidthFixed{
    width: 300px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
table.dataTable .alignL{
    text-align: left;
}
table.dataTable .alignR{
    text-align: right;
}
table.dataTable .w300{
    min-width:300px;
}
table.dataTable .w200{
    min-width:200px;
}
table.dataTable .w150{
    min-width:150px;
}
table.dataTable .w100{
    min-width:100px;
}
table.dataTable .w50{
    min-width:50px;
}
table.dataTable .zyThumb{
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}

.dataTables_paginate{
    position: absolute;
    bottom:-55px;
    right:0;
    height:40px;
    line-height: 40px;
}
.dataTables_info{
    position: absolute;
    bottom:-55px;
    left:0;
    height:40px;
    line-height: 40px;
/*    margin-left: 36px;*/
}
.paging_full_numbers{
    height: 40px;
    line-height: 1;
/*    margin-right: 50px;*/
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active{
    height:40px;
    line-height: 40px;
    min-width: 40px;
    text-align: center;
    display: inline-block;
    padding:0 5px;
    box-sizing: border-box;
    margin-left: 5px;
    background:#ae4127;
}
.paging_full_numbers a.paginate_active{
    color: #fff!important;
}
.paging_full_numbers a.paginate_active{
    border: #ae4127 1px solid;
}
.paging_full_numbers a.paginate_button{
    background:#fff;
    border: #999 1px solid;
    color: #727171;
    cursor: pointer;
}
.paging_full_numbers a.paginate_button:hover{
    border: #ae4127 1px solid;
    color:#ae4127;
}

/********瑕嗗啓ztree*************/



/*********************************瑕嗗啓material***********************/
.btn{
    box-shadow: none ;
    background-color: #af4127 ;
    transition: 0.1s;
}
.zySearchRow>.btn{
    float: right !important;
}
.btn:hover{
    background-color: #9e2e1b ;
}
.red{
    background: #ae4127 !important;
}
[type="checkbox"].filled-in:not(:checked)+label:after{
    border: 1px solid #ccc;
    background: #eee;
}
[type="checkbox"].filled-in:checked+label:after{
    border: 2px solid #ae4127;
    background-color: #ae4127;
}
input.zyInput,select.zyInput{
    cursor:pointer;
    color: #727171;
    border: 1px solid #ccc;
    display: inline-block;
    height: 36px;
    width: 180px;
    line-height: 36px;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: middle;
    padding-left: 5px;
    background: #eee;
    border-radius: 5px;
}
input.zyInput1{
    cursor:pointer;
    color: #727171;
    border: 1px solid #ccc;
    display: inline-block;
    height: 36px;
    width: 322px;
    line-height: 36px;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: top;
    padding-left: 5px;
    background: #eee;
}
input.zyInput:focus:not([readonly]){
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}
textarea.zyTextarea{
    width: 100%;
    background: #eee;
    height: 150px;
    border: 1px solid #ccc;
}
.modal{
    border-radius: 0px;
    max-height: 80%;
    width: 70%;
}
.modal .modal-header{
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #3e3a39;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat{
    float: none;
}
.zyModal{
    overflow: hidden;
    height: 90%;
    max-height: 100%;
    top:6% !important;
}
.zyModal .modal-content{
    height: calc(100% - 90px);
    padding:24px 24px 0;
}
.zyModal .zyTabPanel{
    overflow:auto;
    height:calc(100% - 40px);
    box-sizing: border-box;
}

.zyModal .zyTabPanel.pInfo{
    padding-top:10px;
    overflow: hidden;
}
.zyModal .zyTabPanel.pInfo .zyForm{
    padding:0 !important;
    height:100%;
    position: relative;
    display: flex;
}
.zyModal .zyTabPanel.pInfo .pInfoLeft, 
.zyModal .zyTabPanel.pInfo .pInfoRight{ 
    flex:1;
    height:100%;
    overflow-x:hidden;
    overflow-y: auto;
    padding:0;
}
.zyModal .zyTabPanel.pInfo .pInfoLeft{
    margin-right: 10px;
}
.zyModal .zyTabPanel.pInfo .pImageWrapper{
    margin-bottom: 10px;
}
.zyModal .zyTabPanel.pInfo .pImageWrapper img,
.zyModal .zyTabPanel.pInfo .pImageWrapper svg{
    width:100%;
    min-height:300px;
}
.select-wrapper{
    width: 180px;
    display: inline-block;
    margin:0px;
}
.select-wrapper.right{
    margin: 10px 0px;
}
.select-wrapper span.caret{
    z-index: 10;
    right:5px;
}
.select-wrapper input.select-dropdown{
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: top;
    padding-left: 5px;
    background: #eee;
    border-radius: 5px;
}
.select-wrapper .dropdown-content{
    max-height: 300px!important;
    overflow-y:scroll ;
}
.select-wrapper select.zyInput{
    display: none;
}
[type="checkbox"]+label{
    height: 100%;
}
[type="checkbox"].filled-in:not(:checked)+label:after,[type="checkbox"].filled-in:checked+label:after{
    top:50%;
    transform: translateY(-50%);
}
[type="checkbox"].filled-in:not(:checked)+label:before,[type="checkbox"].filled-in:checked+label:before{
    top:50%;
    margin-top:-8px;
}


/*棰勮椤甸潰*/
.zyTextureItem{
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
}
.zyTextureItem .zyTextureImg{
    height: 30px;
    width: 30px;
    overflow:hidden;
    text-align:center;
    display: inline-block;
}
.modal .modal-footer{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding:0;
    position: relative;
    z-index: 9;
}
.row{
    line-height: 30px;
    margin-bottom: 0px;
}
.zyBgFFFFFF.zyMT20.zyPd10{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    min-height: 150px;
}
.zyPanelWrapper{
    position:relative;
    display: flex;
}
.zyProfilePanel .zyFormLabel{
    position: static;
    width:100px;
    padding: 0 10px;
    margin: 0;
}
.zyProfilePanel .row:nth-child(2n){
    background:#f9f9f9;
}
.zyColorPanel {
    flex: 1;
    margin-right: 10px;
}
.zyColorPanel .zyFormLabel{
    position: static;
    width:60px;
    padding: 0 10px;
    margin: 0;
}
.zyTexturePanel{
    flex: 1;
}
.zyTexturePanel .zyFormLabel{
    position: static;
    width:60px;
    padding: 0 10px;
    margin: 0;
    
}

/*鏍囩椤�*/
.tabs .indicator{
    height: 4px;
}
/*鍥剧墖hover鏁堟灉*/
.thumb:hover{
    border: 2px solid #eee;
}
.zyImageUpload:hover{
    background-color: #f2f2f2;
}
/*鐭ヨ瘑搴撲笂浼狅紝鏁翠綋淇℃伅锛岄儴浠朵俊鎭爣绛炬爮楂樺害*/
.tabs{
    height: 42px;
}


/*棣栭〉鍒嗗壊绾�*/
hr{
    margin:0px;
    height:1px;
    width: 100%;
    border:0px;
    background-color:#D5D5D5;
    color:#D5D5D5;
}

.zyPanelTitle>.right{
    float: right !important;
    position: relative;
    top: -6px;
    right: 20px;
}
img{
    cursor: pointer;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #4d4d4d;
    font-size:14px;
}
.chip{
        border-radius: 3px;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
    border: 2px solid #af4127;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
    background-color: #af4127;
}
.row .col{
    padding-left: 0;
}
.grey.lighten-2{
    background-color: white !important;
    border: 1px solid #ccc;
    margin-left: 8px;
}
/******************************************crop-holder*************************/
.jcrop-holder{
    margin: auto;
}
/******************************************preview modal*************************/
#zyPreviewModal{
    
}



