html{
    height: 100%;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑","黑体","Arial";
    background: #eee;
    height: 100%;
}
a{
    text-decoration: none;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
label{
    color: #000;
}
label.error{
    display: block;
    color: red!important;
    font-size: 14px;
    margin-left: 104px;
}
label img{
    vertical-align: middle;
}
ul{
    margin: 0px;
    padding:0px;
}
li{
    list-style: none;
}
.zyPCenter{
    position: absolute;
    left:0px;
}
.zyPd10{
    padding: 10px;
}
.zyPd20{
    padding: 20px;
}
.zyMT20{
    margin-top: 12px!important;
}
.zyBd2{
    border: 2px solid #ccc;
}
.zyBgFFFFFF{
    background: #fff !important;
}
.zyHasLeftBorder{
    border-left:1px solid #ccc;
}
.zyMain{
    position: relative;
    height: calc(100% - 60px);
}
.zyLeft{
    position: absolute;
    left:0px;
    top:0px;
    width: 200px;
}
.zyRight {
    border-left: 1px solid #ccc;
    background: #f9f9f9;
    margin-left: 200px;
    min-height: 100%;
}
.zyLine{
    width:10px;
    height:1px;
    margin:0px auto;
    padding:0px;
    background-color:#ccc;
    overflow:hidden;
    display: inline-block;
}
/************************************按钮组****************************/
.zyGroupButtons{
    text-align: center;
    margin: 10px;
    font-size: 0px;
}
.zyGroupButtons .zyGBItem{
    height: 32px;
    line-height: 32px;
    font-size:14px;
    width: 100px;
    color: #000000;
    border:1px solid #ccc;
    display: inline-block;
}
.zyGroupButtons .zyGBItem:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.zyGroupButtons .zyGBItem:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.zyGroupButtons .zyGBItem.zyGBItemActive{
    background: #eee;
    color: darkgrey;
}
/******************************颜色标签*****************************/
.zyColorItem{
    display: inline-block;
    margin:0px 5px;
}
.zyColorItem .zyColorShow{
    height: 20px;
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    border-radius: 3px;
}
.zyColorItem .zyColorName{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
}
/************************************form*******************************/
.zyForm{
    padding: 20px 30px!important;
}
.zyForm >.row{
    border-bottom: 1px #eee solid;
    padding: 4px 0px 4px 0px;
}
.zyForm .zyFormLabel{
    text-align: left;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 30px;
}
.zyForm .zyTARLabel{
    width: 80px;
    text-align: left;
    vertical-align: top;
}
.zyForm .zyFormLabel.zyRequired{

}
.zyForm .zyFormLabel.zyRequired:before{
    content:"*";
    color:#ae4127;
    margin-right: 5px;
    line-height: 45px;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
}
.zyForm .zyFormLabelHasSub{
    height: 14px;
    line-height: 40px;
}
.zyForm .zyFormLabelHasSub.zyRequired:before{
    line-height: 18px;
}
.zyForm .zyFormAllInlineCtrl{
    display: inline-block;
    line-height: 50px;
    height: 30px;
}
.zyForm .zyFormSubmitRow{
    padding-left: 65px;
}
.zyForm .zyFormHelp{
    font-size: 12px;
    color: #ccc;
    line-height: 40px;
    height: 40px;
}
.zyForm .zyTextarea{
    width: 70%;
}
.zyForm .zyFormChildCtrl{
    margin-left: 50px;
    margin-top: 0px;
}
.zyForm .zyImageUpload{
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 5px;
}
.zyForm .zyImageUpload input[type='file']{
    opacity: 0;
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.zyForm .zyImageUpload img{
    display: block;
    width: 100%;
    height: auto;
}

/*************************************select****************************/
.zySelect{
    border-radius:3px;
    border: 1px solid #ccc;
    padding: 3px;
    background: #eee;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
}
.zySelect .zySShow{
    width: 50px;
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.zySelect .zySName{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.zySelect .zySSelect{
    cursor:pointer;
    width: 100px;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    font-size: 14px;
    padding: 0px;
    vertical-align: top;
}
.zySelect.zyNoSelect .zySShow,.zySelect.zyNoSelect .zySName{
    display: none;
}
.zySelect.zyNoSelect .zySSelect{
    width: 198px;
    cursor:pointer;
}
.zySelect .zySSelect:focus{
    outline: none;
}
/*******************************collaspe*********************/
.zyCollapseCtrl{
    margin-bottom: 100px;
    height: 0px;
    border: 1px solid #ddd;
    position: relative;
    background: #ccc;
}
.zyCollapseCtrl .zyCollapse{
    width:120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:#ccc solid 1px;
    position: absolute;
    bottom:-40px;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .3em;
    cursor: pointer;
    border-radius: 3px;
}
.zyCollapseCtrl .zyCollapse:hover{
    background: #eee;
}
.zyCollapseCtrl .zyCollapse .material-icons{
    line-height: 40px;
    vertical-align: top;
}

/***************************************panel**************************/
.zyPanel{
    background: #fff;
}
.zyPanel .zyPanelTitle{
    border-bottom: 1px solid #eee;
    padding: 8px 0px 8px 30px;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
}
.zyPanel .zyPanelTitle .btn{
    margin: 0px 10px;
}
.zyPanel .zyPanelContent{
    padding-bottom: 50px;
}

/********************************************复写datatable****************************/
.dataTables_wrapper{
    position: relative;
}
table.dataTable{
    margin-top: 20px;
    width: 100%;
    border-bottom: #efefef solid 1px;
    margin-bottom: 60px;
}
table.dataTable thead {
    background: #eee;
}
table.dataTable thead th{
    color: #333;
    border: none;
    padding: 5px;
    text-align: center;
    line-height: 30px!important;
}
table.dataTable tr{
    line-height: 25px!important;
    border-top: #efefef solid 1px;
}
table.dataTable tr.odd{
    background:#fff;
}
table.dataTable tr.even{
    background:#fff;
}
table.dataTable td {
    padding: 5px!important;
    text-align: center;
}
table.dataTable td a{
    color: #ae4127;
}
table.dataTable td .zyColorItem .zyColorShow{
    width: 20px;
    height: 20px;
}
table.dataTable .zyWidthFixed{
    width: 300px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
table.dataTable .zyThumb{
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}
.dataTables_paginate{
    position: absolute;
    bottom:-55px;
    right:0;
    height:40px;
    line-height: 40px;
}
.dataTables_info{
    position: absolute;
    bottom:-55px;
    left:0;
    height:40px;
    line-height: 40px;
    margin-left: 36px;
}
.paging_full_numbers{
    height: 40px;
    line-height: 1;
    margin-right: 50px;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active{
    height:40px;
    line-height: 40px;
    min-width: 40px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    padding:0 5px;
    box-sizing: border-box;
    margin-left: 5px;
    background:#ae4127;
}
.paging_full_numbers a.paginate_active{
    color: #fff!important;
}
.paging_full_numbers a.paginate_active{
    border: #ae4127 1px solid;
}
.paging_full_numbers a.paginate_button{
    background:#fff;
    border: #999 1px solid;
    color: #727171;
    cursor: pointer;
}
.paging_full_numbers a.paginate_button:hover{
    border: #ae4127 1px solid;
    color:#ae4127;
}

/********覆写ztree*************/



/*********************************覆写material***********************/
.btn{
    box-shadow: none ;
    background-color: #af4127 ;
    transition: 0.1s;
}
.zySearchRow>.btn{
    float: right !important;
}
.btn:hover{
    background-color: #9e2e1b ;
}
.red{
    background: #ae4127 !important;
}
[type="checkbox"].filled-in:not(:checked)+label:after{
    border: 1px solid #ccc;
    background: #eee;
}
[type="checkbox"].filled-in:checked+label:after{
    border: 2px solid #ae4127;
    background-color: #ae4127;
}
input.zyInput,select.zyInput{
    cursor:pointer;
    color: #727171;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 36px;
    width: 180px;
    line-height: 36px;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: middle;
    padding-left: 5px;
    background: #eee;
}
input.zyInput1{
    cursor:pointer;
    color: #727171;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 36px;
    width: 322px;
    line-height: 36px;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: top;
    padding-left: 5px;
    background: #eee;
}
input.zyInput:focus:not([readonly]){
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}
textarea.zyTextarea{
    width: 100%;
    background: #eee;
    height: 150px;
    border: 1px solid #ccc;
}
.modal{
    border-radius: 0px;
    max-height: 80%;
    width: 70%;
}
.modal .modal-header{
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #3e3a39;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat{
    float: none;
}
.zyModal{
    overflow-y: hidden;
    height: 90%;
    max-height: 100%;
    top:6% !important;
}
.zyModal .modal-content{
    height: calc(100% - 90px);
}
.zyModal .zyTabPanel{
    overflow:auto;
    height:calc(100% - 40px);
}
.select-wrapper{
    width: 180px;
    display: inline-block;
    margin:0px;
}
.select-wrapper.right{
    margin: 10px 0px;
}
.select-wrapper span.caret{
    z-index: 10;
    right:5px;
}
.select-wrapper input.select-dropdown{
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: top;
    padding-left: 5px;
    background: #eee;
}
.select-wrapper .dropdown-content{
    max-height: 300px!important;
    overflow-y:scroll ;
}
.select-wrapper select.zyInput{
    display: none;
}
[type="checkbox"]+label{
    height: 100%;
}
[type="checkbox"].filled-in:not(:checked)+label:after,[type="checkbox"].filled-in:checked+label:after{
    top:50%;
    transform: translateY(-50%);
}
[type="checkbox"].filled-in:not(:checked)+label:before,[type="checkbox"].filled-in:checked+label:before{
    top:50%;
    margin-top:-8px;
}


/*预览页面*/
.zyTextureItem{
    display: inline-block;
    margin-left: 4%;
}
.zyTextureItem .zyTextureImg{
    height: 50px;
    width: 50px;
    overflow:hidden;
    text-align:center;
    border-radius: 3px;
}
.modal .modal-footer{
    border-top: 1px solid #ccc;
}
.row{
    line-height: 30px;
    margin-bottom: 0px;
}
.zyBgFFFFFF.zyMT20.zyPd10{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    min-height: 150px;
}
.zyPanelWrapper{
    position:relative;
}
.zyColorPanel {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width:48%;
}
.zyTexturePanel{
    margin-left: 50%;
}
/*标签页*/
.tabs .indicator{
    height: 4px;
}
/*图片hover效果*/
.thumb:hover{
    border: 2px solid #eee;
}
.zyImageUpload:hover{
    background-color: #f2f2f2;
}
/*知识库上传，整体信息，部件信息标签栏高度*/
.tabs{
    height: 42px;
}


/*首页分割线*/
hr{
    margin:0px;
    height:1px;
    width: 100%;
    border:0px;
    background-color:#D5D5D5;
    color:#D5D5D5;
}

.zyPanelTitle>.right{
    float: right !important;
    position: relative;
    top: -6px;
    right: 20px;
}
img{
    cursor: pointer;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #4d4d4d;
    font-size:14px;
}
.chip{
        border-radius: 3px;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
    border: 2px solid #af4127;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
    background-color: #af4127;
}
.row .col{
    padding-left: 0;
}
.grey.lighten-2{
    background-color: white !important;
    border: 1px solid #ccc;
    margin-left: 8px;
}
/******************************************crop-holder*************************/
.jcrop-holder{
    margin: auto;
}