.zyHeader{
    background: #3e3a39;
    position: relative;
}
.zyLogo{
    color: #fff;
    margin:0px;
    width:60px;
    height:60px;
    line-height: 20px;
    padding:20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.zyLogo img{
    width: 100%;
    
}
.zyTitle{
    text-align: center;
    font-size: 24px;
}
.zyTitle a{
    line-height: 60px;
    color: #fff;
    text-decoration: none;
}