.menu{

}
.menu .separate{
    height: 10px;
    background: #fff;
}
.menu .item {
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
}
.menu .item .link{
    font-size: 16px;
    line-height: 40px;
    color: #727171;
    display: block;
    padding-left: 5px;
}
.menu .material-icons{
    line-height: 40px;
    vertical-align: top;
    margin-right: 5px;
}
.material-icons .right2{
    line-height: 40px;
    vertical-align: top;
    margin-right: 5px;
    transform:rotate(90deg);
}

.menu .item .link:hover,.menu .item .link.active{
    background: #ffffff;
    color: #ae4127;
    cursor: pointer;
}
.menu .item .link.active+.subMenu{
    display: block;
}
.menu .subMenu{
    background: #ffffff;
    display: none;
}
.menu .subMenu .sItem{
    border-top: 1px solid #ddd;
}
.menu .subMenu .sItem .sLink{
    font-size: 14px;
    color: #b5b5b6;
    display: block;
    padding-left: 40px;
    height: 35px;
    line-height: 35px;
    position: relative;
}
.menu .subMenu .sItem .sLink:hover{
    background-color: #eee;
}
.menu .subMenu .sItem .sLink:hover,.menu .subMenu .sItem .sLink.active{
    color: #ae4127;
}
.menu .subMenu .sItem .sLink:before {
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    font-size: 0px;
    position: absolute;
    display: block;
    left:13px;
    top:50%;
    margin-top: -5px;
}
.menu .subMenu .sItem .sLink:hover:before,.menu .subMenu .sItem .sLink.active:before{
    background: #ae4127;
}