.menu{

}
.menu .separate{
    height: 10px;
    background: #fff;
}
.menu .item {
    border-top: rgba(0,0,0,0.2) 1px solid;

}
.menu .item.title{
    
}
.menu .item.title h3{
    font-size: 14px;
    padding:100px 60px;
    text-align: center;
    background: url(../../../../images/heavy_equipment.svg) no-repeat center;
    background-size: 70%;
    font-size: 0;
}
.menu .item .link{
    font-size: 16px;
    line-height: 48px;
    color: rgba(255,255,255,0.6);
    display: block;
    padding: 0 20px;
}
.menu .material-icons{
    color: rgba(255,255,255,0.6) !important;
    line-height: 40px;
    vertical-align: top;
    margin-right: 16px !important;
}
.material-icons .right2{
    line-height: 40px;
    vertical-align: top;
    margin-right: 5px;
    transform:rotate(90deg);
}

.menu .item .link:hover,.menu .item .link.active{
    background: rgba(0,0,0,0.2) !important;
    color: #fff;
    cursor: pointer;
}
.menu .item .link:hover .material-icons,
.menu .item .link.active .material-icons{
    color:#fff !important;
}
/*.menu .item .link.active+.subMenu{
    display: block;
}*/
.menu .subMenu{
    background: rgba(0,0,0,0.2) !important;
    padding:0;
    /*display: none;*/
}

.menu .subMenu .sItem .sLink{
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    display: block;
    padding-left: 60px;
    height: 35px;
    line-height: 35px;
    position: relative;
}
.menu .subMenu .sItem .sLink:hover{
    background-color: transparent;
}
.menu .subMenu .sItem .sLink:hover,.menu .subMenu .sItem .sLink.active{
    color: #fff;
}
.menu .subMenu .sItem .sLink:before {
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    font-size: 0px;
    position: absolute;
    display: block;
    left:32px;
    top:50%;
    margin-top: -5px;
}
.menu .subMenu .sItem .sLink:hover:before,.menu .subMenu .sItem .sLink.active:before{
    background: #fff;
}