.zySearch{
    padding: 6px 0px 8px 30px;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
    opacity: 1;
    height:auto;
}
.zySearch.hidden{
    height: 0;
    opacity: 0;
}
.zySearchRow{
    margin-top: 0px;
    padding: 8px 40px 8px 0;
    clear: both;
    border-bottom: 1px #eee solid;
    min-height: 40px;
    box-sizing: border-box;
    
}

.zySearchRow .right{
    float: none !important;
}
.zySearchRow .zySearchTitle{
    margin:0px 0px 0px 6px;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    min-width: 70px;
}
.zySearchRow .zySearchContent{
    min-height: 40px;
    line-height: 40px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}